html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Arial";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
	display: block;
}
body
{
	line-height: 1;
}
ol, ul
{
	list-style: none;
}
blockquote, q
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}


ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #282828;
}

ul.topnav li {float: left;}

ul.topnav li a {
	display: inline-block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 1.5vw;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}


@media screen and (min-width:1024px){
	@viewport{
		width: device-width;
		zoom: 1;
	}

	body{
		background-color:#191919;
		padding:0 15% 5% 15%;
	}

	header
	{
		padding-bottom: 25px;
		margin-bottom: 15px;
		border-bottom: 3px solid #ff606d;
	}


	ul.topnav.responsive {position: relative;}

	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}

	.logo
	{
		width: 35%;
	}

	section {
		display: inline-block;
		width: 48%;
		padding-right: 10px;
	}

	h1
	{
		padding: 0.25em;
		font-size:3vw;
		color:#fc6d36;
	}

	p
	{
		color:#FEE0DA;
		padding: 1em;
		font-size:1.5vw;
	}

	aside{
		display: inline-flex;
		width: 48%;
	}

	form{
		width:100%;
		padding: 1em;
		color:#FEE0DA;
	}

	#name, #email, #comment{
		color:#40d7ff;
		background-color:#282828;
		width: 100%;
		padding: 5px;
		border: none;
	}

	#comment{
		height: 60px;
	}

	#send, #reset{
		color:#ffffff;
		background-color:#282828;
	}

}

@media screen and (min-width:481px) and (max-width:1023px){
	@viewport{
		width: device-width;
		zoom: 1;
	}

	body{
		background-color:#191919;
		padding:0 15% 5% 15%;
	}

	header
	{
		padding-bottom: 25px;
		margin-bottom: 15px;
		border-bottom: 3px solid #ff606d;
	}

	/*
	ul.topnav.responsive {position: relative;}

	ul.topnav.responsive li.icon {
	position: absolute;
	right: 0;
	top: 0;
}
ul.topnav.responsive li {
float: none;
display: inline;
}
ul.topnav.responsive li a {
display: block;
text-align: left;
}
*/

ul.topnav li a {
	display: block;
	text-align: left;
	font-size:2.5vw;
}
.logo
{
	width: 30%;
}

section {
	display: inline-block;
	width: 100%;
	padding-right: 10px;
}

h1
{
	padding: 0.25em;
	font-size:5vw;
	color:#fc6d36;
}

p
{
	color:#FEE0DA;
	padding: 1em;
	font-size:2vw;
}

aside{
	display: inline-block;
	width: 80%;
}

form{
	width:100%;
	padding: 1em;
	color:#FEE0DA;
}

#name, #email, #comment{
	color:#40d7ff;
	background-color:#282828;
	width: 100%;
	padding: 5px;
	border: none;
}

#comment{
	height: 60px;
}

#send, #reset{
	color:#ffffff;
	background-color:#282828;
}
}

@media screen and (max-width:480px){
	@viewport{
		width: device-width;
		zoom: 1;
	}

	body{
		background-color:#191919;
		padding:0 5% 5% 5%;
	}

	header
	{
		padding-bottom: 25px;
		margin-bottom: 15px;
		border-bottom: 3px solid #ff606d;
	}


	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}

	ul.topnav.responsive {position: relative;}

	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}
	.logo
	{
		width: 45%;
	}
	ul.topnav li a {
		display: block;
		text-align: left;
		font-size:5vw;
	}
	section {
		display: inline-block;
		width: 100%;
		padding-right: 10px;
	}

	h1
	{
		padding: 0.25em;
		font-size:10vw;
		color:#fc6d36;
	}

	p
	{
		color:#FEE0DA;
		padding: 1em;
		font-size:4vw;
	}

	aside{
		display: inline-block;
		width: 80%;
	}

	form{
		width:100%;
		padding: 1em;
		color:#FEE0DA;
	}

	#name, #email, #comment{
		color:#40d7ff;
		background-color:#282828;
		width: 100%;
		padding: 5px;
		border: none;
	}

	#comment{
		height: 60px;
	}

	#send, #reset{
		color:#ffffff;
		background-color:#282828;
	}
}
